body {
  background-color: #38b3f6;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.main-header {
  background-color: #133a50;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.header-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.logo {
  max-width: 80px;
  padding: 10px;
}
.navigation {
  /* background-color: #081923; */
  display: flex;
  flex-direction: row;
}
/* descendant selector */
.navigation a {
  color: #9ed0ed;
  text-decoration: none;
  padding: 10px;
  display: block;
}
.search-box {
  min-width: 100%;
  background-color: #081923;
  display: flex;
  justify-content: center;
}
.search-form {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  min-width: 40vw;
}
.search-form input {
  flex: 1;
  padding: 0.5em;
  border: 1px solid black;
}
.search-input button {
  padding: 0.5em;
  border: 1px solid black;
}
.banner-image {
  max-width: 300px;
  display: block;
  margin: auto;
}
.banner {
  background-color:#f5f3a1;
  /* text-align: center; */
}
.content {
  max-width: 90vw;
  margin: 2em auto;
  line-height: 2em;
  font-size: 1.5em;
}
.highlight {
  background-color: yellow;
}
.footer {
  background-color: #133a50;
  padding: 1em;
}
.policies-nav {
  display: flex;
  flex-direction: row;
}
.policies-nav a {
  color: #9ed0ed;
  text-decoration: none;
  padding: 10px;
  display: block;
}
.social-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; 
}
.social-nav a {
  color: #9ed0ed;
  text-decoration: none;
  padding: 10px;
  display: block;
  font-size: 1.2em;
}
.copyright {
  text-align: center;
  color: #9ed0ed;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

img {
  max-width: 100%;
}

.promo-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.card img {
  aspect-ratio: 3/4;
  object-fit: cover;
  object-position: center;
}
.card {
  background-color: #79c9f4;
}
.card-body {
  display: flex;
  flex-direction: column;
  padding: 0px 0.5em;
}
.card-body h4 {
  margin: 0px;
}
.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.card iframe {
  aspect-ratio: 4/3;
}
#contact-form {
  background-color: #fefefe;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}
#contact-form input, #contact-form textarea {
  display: block;
  padding: 0.5em;
  border-color: #18516f;
  border: 1px solid;
  border-radius: 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.buttons button {
  display: block;
  flex: 1;
  padding: 0.5em;
  background-color: #18516f;
  color: #fefefe;
}
